body {
    background-color: #e1e3e4;
}
.breadcrumb{
    background-color:#ffffff;
}
.banners {
    font-size: 135px;
    color:#d0021b;
    background-color:#ffffff;
    margin-bottom:50px;
    margin-left:50px;
    margin-right:50px;
    padding-top:5px;
}
.banners:hover, .banners a:hover {
    text-decoration: none !important;
    background-color: #d0021b;
}
.banners a{
    color:#d0021b;
}
.banners p{
    width:inherit;
    background-color:#d0021b;
    color:white;
    font-size:20px;
    text-align:center;
    margin:0 0 0;
}
.banners p:hover{
    background-color:white;
    color:#d0021b;
}
#details1, #details2, #details3{
    background-color:white;
    color:#5a5656;
    font-size:20px;
    text-align:justify;
}
table {
    font-size: 23px;
    table-layout: auto;
    text-align: center;
    border-width: 1px;
    background-color:white;
}

.table > tbody > tr > td{
    border-top: 0px!important;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 75px;/* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    background-color: #d0021b; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    vertical-align:middle;
}

/* The navigation menu links */
.sidenav h2 {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    transform:rotate(-90deg);
    white-space:nowrap;
    margin-top:250px;
    margin-left:-25px;
}
.sidenav h2 small{
    color:white;
}

    /* When you mouse over the navigation links, change their color */
    .sidenav h2:hover {
        color: #f1f1f1;
    }

.sidenav select{
    color:#d0021b;
    border-color:#d0021b;
    border-radius:15px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
